{% extends 'base.html' %}
<!---->
{% load static %} {% block title %}Paino.io{% endblock %}
<!---->
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <title>Paino.io</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" />
  </head>
  <body>
    <h3>Dashboard</h3>
    <ul>
      <li>
        <a href="http://127.0.0.1:8000/dashboard/">Sales Dashboard</a>
      </li>
      <li>
        <a href="http://127.0.0.1:8000/dashboard/booked_revenue"
          >Zimmer Biomet Booked Revenue</a
        >
      </li>
    </ul>
  </body>
</html>
{% endblock %}
